.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  min-height: 80px;
}

/* .brand-logo {
    background-color: white;
} */

.navbar-links ul {
  display: flex;
  /* margin-right: 5rem; */
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  padding: 1rem;
  display: block;
  margin-right: 2rem;
  transition: background-color 0.5s linear;
}

.navbar-links li a:visited {
  color: white;
}

.navbar-links li a:hover {
  color: black;
  background-color: white;
}

.toggle-button {
  position: absolute;
  top: 1.75rem;
  right: 1rem;
  /* Menu button initially not displayed */
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.brand-logo {
  height: 100px;
  width: 100px;
}

.logo-image {
  max-width: 100%;
}

.navbar-links {
  transition: height 0.5s;
}

/* These properties are for the responsive menu */
@media screen and (max-width: 800px) {
  .logo-image {
    width: 20%;
  }
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: block;
    width: 100%;
    height: 0;
    visibility: hidden;
  }
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links.active {
    visibility: visible;
    height: 256px;
  }

  .logo-image {
    width: 100%;
    height: 100%;
  }
  .brand-logo {
    height: 150px;
    width: 150px;
  }
}
