/*body styling*/
body {
    background-color: white;
    color: black;
}

/*page header styling*/
.page-header {
    color: white;
    background-color: black;
	text-transform: uppercase;
	letter-spacing: 10px;
	text-shadow: 3px 3px 5px #000;
    border-bottom: 0;
    padding: 30px 0px;
    margin-top: 0;
    margin-bottom: 0;
}

/*h1 styling*/
h1 {
	font-size:30px;
}

/*navbar styling*/
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: white;  /*Sets the text hover color and text hover background color on navbar*/
    background-color: black;
}

.navbar { 
    background-image: none;
    border: 1px solid black;  
    border-radius: 0;
}

.navbar-default .navbar-nav>li>a {
    color: black;
}

ul li {
    border-right: 1px solid #030033;
}

/*header stylings*/
h2 {
    background-color: black;
    color:white;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 3px 3px 5px #000;
    font-size: 20px;
    padding: 9px;
    margin-top: 25px;
    margin-bottom: 15px;
}

/*welcome section styling*/
#welcome {
    border: 1px solid black;  
    font-size: 15px;
}

/*barber image styling*/
#barber {
    float: left;
    margin-right: 30px;
}

/*trade table styling*/
#trade {
    font-size: 15px;
}

#trade td {
    padding-left: 8px;
    padding-right: 45px;
    line-height: 1.9;
}

/*friday and saturday note styling*/
#friday_note, #saturday_note {
    margin-top: 8px;
    text-align: left;
}

/*store details and contact info tables styling*/

#contact {
    margin-top: 40px;
}
table.cont {
    width: 100%;
    line-height: 2.6;
    margin-top: 10px;
    border-top: 1px solid #ccc;
}

table.cont th {
    padding-left: 30px;
    font-size: 15px;
    color: white;
}

table.cont td {
    font-size: 16px;
    padding-left: 30px;
}

/*embedded google map styling*/
#map1 {
    border: 1px solid black;
}

#map1>tbody>tr>td {
    border-top: 1px solid black;    
}

/*footer styling*/
.footer-distributed {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #ccc;
}

.footer-distributed .footer-right {
    float: right;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: default;
}

/*social icons styling*/
.footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid white;
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 35px;
    margin-left: 20px;
}

.footer-distributed .footer-left td {
    color: white;
    font-size: 11px;
    margin-top: 15px;
    padding-left: 10px;
    margin-left: 15px;
    padding-right: 10px;
}

.footer-distributed .footer-left {
    margin-top: 10px;
}


